In [5]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [7]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [8]:
#session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

## D1: Determine the Summary Statistics for June

In [9]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

# Create a variable for the month of June
june_start = dt.date(2016, 6, 1)
june_end = dt.date(2016, 6, 30)

# June_measurements holds all of the prcp data for the month of june
#june_measurements = session.query(Measurement.date, Measurement.tobs).filter((Measurement.date >= june_start) & (Measurement.date <= june_end)).all()

# extract('desired date (Year, Month, Day'), Column witht the data) == Whatever you want it to equal
june_measurements = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [10]:
#  3. Convert the June temperatures to a list.
june_measurements_list = list(june_measurements)

In [11]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_measurements_df = pd.DataFrame(june_measurements_list)
june_measurements_df.columns=['Date', 'Temperature']
june_measurements_df.head()

         Date  Temperature
0  2010-06-01         78.0
1  2010-06-02         76.0
2  2010-06-03         78.0
3  2010-06-04         76.0
4  2010-06-05         77.0

In [29]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.

# Summary Statistics include: count, meand, std, min, 25%, 50%, 75%, max
june_measurements_df.describe().to_csv('june_temp_stats')
june_measurements_df.describe()

       Temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [13]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

december_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [14]:
# 7. Convert the December temperatures to a list.
december_temps_list = list(december_temps)

In [23]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temps_df = pd.DataFrame(december_temps_list)
december_temps_df.columns = ['Date', 'Temperature']

In [28]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.

december_temps_df.describe().to_csv('december_temp_stats')
december_temps_df.describe()

       Temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000